.App {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.ideaFeed {
  margin-top: 50px;
}

.ideaBox {
  color: white;
  background-color: rgba(26,26,27,0.8);
  width: 90%;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 20px;
  border-radius: 5px;
  border: #686868 1px solid;
  padding: 2vw;
}

.ownerFeatures {
  float: right;
}

.ownerFeatures * {
  display: inline-block;
  margin: 10px;
}

.editIdeaLink {
  text-decoration: none;
  color: #b07b19;
}

.deleteIdea {
  color: #c64747;
}

.ideaBoxCreator {
  color: darkgrey;
}

.ideaBoxCreator a {
  text-decoration: none;
  color: darkgrey;
}

.profilePage {
  margin: 50px;
}
