.App {
  color: white;
}

#titleLink {
  text-decoration: none;
  color: #D6D6D6;
}

a {
  text-decoration: none;
  color: lightgrey;
  cursor: pointer;
}

.a {
  text-decoration: none;
  color: lightgrey;
  cursor: pointer;
  margin: 0;
}

.a:hover {
  filter: brightness(80%);
}

a:hover {
  filter: brightness(80%);
}

.ideaDescription * a {
  color: #2d7de6;
}

input {
  background-color: rgba(26,26,27,0.8);
  border-color: rgba(131, 131, 138, 0.8);
  border-radius: 5px;
  color: lightgrey;
  padding: 5px;
}

textarea {
  background-color: rgba(26,26,27,0.8);
  border-color: rgba(131, 131, 138, 0.8);
  border-radius: 5px;
  color: lightgrey;
}

h2 {
  margin: 0;
}

.normalBox {
  color: #D6D6D6;
  background-color: rgba(26,26,27,0.8);
  border: #686868 1px solid;
  border-radius: 5px;
}

.normalSelect {
  height: 30px;
  margin-top: 5px;
  background-color: #151515;
  border: .5px solid #686868;
  border-radius: 3px;
  color: #d6d6d6;
  position: relative;
  margin-left: auto;
}

.standardBorder {
  color: white;
  background-color: rgba(26,26,27,0.8);
  width: 90%;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 20px;
  border-radius: 5px;
  border: #686868 1px solid;
  padding: 2vw;
}

.submitButton {
  border: 1px solid #595757;
  width: 100%;
  background-color: #2d2d2d;
}

.blankPageTextContainer {
  height: calc(75vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  color: lightgrey;
  align-items: center;
  justify-content: center;
}

.orangeLink {
  text-decoration: none;
  color: #b07b19;
}
.redLink {
  text-decoration: none;
  color: #c64747;
}

.pageControl {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pageControl p {
  font-size: 18px;
  padding: 4px;
}
.pageButton {
  height: 20px;
  width: 20px;
  background-color: #444;
  margin: 0 3px;
  padding: 4px;
  border-radius: 2px;
}
.reverse {
   transform: scaleX(-1);
}
.settingsPage {
  margin: auto;
  margin-top: 20px;
  width: 600px;
  padding: 30px;
  padding-bottom: 150px;
}
@media only screen and (max-width: 600px) {
  .settingsPage {
    width: calc(100% - 10px);
  }
}
