.App {
  color: white;
}

#titleLink {
  text-decoration: none;
  color: white;
}

a {
  color: #2d7de6;
}

.ideaBox {
  color: white;
  background-color: rgba(26,26,27,0.8);
  width: 90%;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 20px;
  border-radius: 5px;
  border: #686868 1px solid;
  padding: 2vw;
}

.ownerFeatures {
  float: right;
}

.ownerFeatures * {
  display: inline-block;
  margin: 10px;
}

.editIdeaLink {
  text-decoration: none;
  color: #b07b19;
}

.deleteIdea {
  color: #c64747;
  cursor: pointer;
}

.ideaBoxCreator {
  color: darkgrey;
}

.ideaBoxCreator a {
  text-decoration: none;
  color: darkgrey;
}

.profileGrid {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-column-gap: 5%;
  margin: 5%;
  margin-top: 0;
}

.profileStats {
  max-height: 300px;
}

.standardBorder {
  color: white;
  background-color: rgba(26,26,27,0.8);
  width: 90%;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 20px;
  border-radius: 5px;
  border: #686868 1px solid;
  padding: 2vw;
}

.profileIdea {
  padding: 0;
  padding-left: 2vw;
}

.profileIdea a {
  text-decoration: none;
  color: #58a6ff;
}
.profileIdea a:hover {
  text-decoration: underline;
}
