.authBox {
  width: 400px;
  margin: 0 auto;
  background-color: rgba(34, 34, 34, 0.8);
  border: #686868 1px solid;
  margin-top: 5vh;
  height: 60vh;
  padding: 20px 50px 50px 50px;
  border-radius: 10px;
}

.authBox label {
  font-weight: bold;
}

.authBox h1 {
  text-align: center;
  margin-bottom: 40px;
}

.authBox input {
  border: 1px solid #595757;
  width: 100%;
  background-color: #2d2d2d;
}

.authBox .inputGroup {
  margin-bottom: 20px;
}

.authBox a {
  color: rgb(91, 146, 219);
}

.forgotPasswordLink {
  font-size: 10pt;
}

.authBox * {
  margin: auto 0;
  margin-bottom: 5px;
}

.loginSignUpSwitch {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .authBox {
    width: 80vw;
    padding: 20px;
  }
}
