.comments {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  padding: 15px;
}

.comments h2 {
  margin-bottom: 10px;
}

.newCommentInput {
  width: calc(100% - 10px);
  resize: vertical;
}

.commentString {
  display: flex;
  margin-top: 2px;
  margin-bottom: 10px;
}

.commentStringLeft {
  width: 2px;
  height: auto;
  background-color: #646464;
  margin-left: 5px;
  margin-right: 10px;
}

.newCommentGroup {
  margin-bottom: 10px;
}

.newCommentInput {
  padding: 8px;
  margin-bottom: 10px;
}

.commentActions * {
  font-size: 11pt;
  color: #888787;
}

@media only screen and (max-width: 600px) {
  .comments {
    margin-left: 5px;
    margin-right: 5px;
  }
}
