.createIdeaBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createIdeaBox {
  width: clamp(400px, 50%, 1000px);
  margin: 0;
  margin-top: 20px;
}

.createIdeaBox * {
  margin-top: 10px;
}

.createIdeaTitle {
  width: calc(100% - 16px);
}

.createIdeaCheckbox {
  position: relative;
  top: 2px;
  left: 2px;
}

.createIdeaDescription {
  width: calc(100% - 16px);
  height: 20vh;
  resize: vertical;
  padding: 8px;
}
