
.ideaBox {
  color: #D6D6D6;
  position: relative;
  background-color: rgba(26,26,27,0.8);
  width: 90%;
  margin: 0;
  margin-left: 2.5%;
  margin-top: 20px;
  border-radius: 5px;
  border: #686868 1px solid;
  padding: 2vw;
  display: flex;
}

.ideaBoxLeft {
  width: 100px;
  padding: 0;
  margin: 0;
}

.ideaBoxRight {
  width: 100%;
  /*width: 90%; */
}

.editIdeaLink {
  text-decoration: none;
  color: #b07b19;
}

.deleteIdeaLink {
  text-decoration: none;
  color: #c64747;
}

.ideaBoxCreator {
  color: darkgrey;
}

.ideaBoxCreator a {
  text-decoration: none;
  color: darkgrey;
}

.ideaBox.normal .ideaDescription {
  max-height: 150px;
  overflow: hidden;
}

.likeSection {
  width: 100px;
  margin-top: 5px;
}

.ideaBoxLeftLabel {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 14pt;
}

.voting {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-left: 3px;
  margin-top: 5px;
}

.downArrowActive {
  margin-bottom: 1px;
  margin-left: 2px;
}

.upArrowActive {
  margin-bottom: 1px;
  margin-right: 2px;
}

.ideaBoxScore {
  margin: 0;
}

.giveBoostButton {
  background-color: #689D6A;
  color: black;
  padding: 5px;
  border-radius: 3px;
}

.seperator {
  display: inline-block;
  width: 1px;
  top: 0;
  bottom: 0;
  margin-right: 15px;
  background-color: #646464;
}

@media only screen and (max-width: 600px) {
  .likeSection, .thumbs {
    display: block;
    width: 50px;
    margin-left: 5px;
    margin-right: -5px;
  }
  .likeButton {
    margin-bottom: 10px;
  }
}

.ratingButton {
  font-size: 25px;
}

.likeButton {
  margin-right: 20px;
}

.ideaBoxUpper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ideaBoxTitle {
  margin: 0;
}

.ratingTrue {
  color: #258ace;
}

.revisionSelect {
  height: 30px;
  margin-top: 5px;
  background-color: #151515;
  border: .5px solid #686868;
  border-radius: 3px;
  color: #d6d6d6;
  position: relative;
  margin-left: auto;
}

.ownerOptionsContainer {
  position: relative;
  margin-top: 5px;
}

.ownerOptionsButton {
  position: relative;
  margin-left: 10px;
}

.ownerOptionsMenu {
  position: absolute;
  border: #686868 1px solid;
  border-radius: 3px;
  padding: 10px;
  width: 70pt;
  right: 0;
}

.ownerOptionsMenu a {
  margin: 0;
  width: 100%;
  display: inline-block;
}

.ownerOptionsMenuDivider {
  height: 1px;
  width: 85pt;
  margin-left: -7pt;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #686868;
}

@media only screen and (max-width: 600px) {
  .revisionSelect {
    align-self: flex-end;
    position: absolute;
  }

  .ideaBoxTitle {
    margin-bottom: 40px;
  }

  .ideaBoxLeft {
    width: 35px;
  }

  .voting {
    display: block;
  }

  .ratingLabel {
    display: none;
  }
  .upArrow {
    position: absolute;
  }
  .upArrowActive {
    margin-top: 2px;
    margin-left: 2px;
  }
  .downArrow {
    margin-top: 50px;
    position: absolute;
  }
  .ideaBoxScore {
    position: absolute;
    margin-top: 25px;
    margin-left: -7px;
    width: 35px;
    text-align: center;
  }
}
