.navbar {
  background-color: rgba(26,26,27,0.8);
  width: 100%;
  height: 70px;
  border-bottom: #686868 1px solid;
}

.innerNav {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navLink {
  color: #D6D6D6;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 10px;
  position: relative;
}

.navLogo {
  width: 150px;
  margin-top: 2px;
}

.navRight {
  float: right;
  margin-top: 2px;
}

.signUpText {
  position: relative;
  background-color: #458588;
  color: black;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  margin-top: 6px;
}

.navSearchBarGroup {
  display: inline-block;
  flex-grow: 1;
  margin-top: 21px;
  margin-left: 15px;
  margin-right: 15px;
}

.navSearchBar {
  color: black;
  background-color: #BDAE93;
  border: none;
  border-radius: 5px;
  width: calc(100% - 35px);
  font-size: 11pt;
  padding: 8px;
  padding-left: 35px;
}

.navSearchButton {
  position: absolute;
  height: 20px;
  margin-left: 7px;
  margin-top: 7px;
}

#accountDropdownContainer {
  display: flex;
  z-index: 3;
  position: relative;
}

#accountDropdownArrow {
  font-size: 9pt;
  margin-top: 18px;
  margin-left: 5px;
}

#navAccountMenu {
  position: absolute;
  right: 0;
  background-color: black;
  margin-top: 60px;
  width: 150px;
  color: white;
  border: #686868 1px solid;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#navAccountMenu * {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#navAccountMenu .dropdownItem {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  filter: brightness(100%);
  color: lightgrey;
  cursor: pointer;
}

#navAccountMenu .dropdownItem:hover {
  background-color: #1f6feb;
}

.customDropMenuDivider {
  padding: 0;
  height: 1px;
  width: 130px;
  margin-left: 0pt;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #686868;
}
/*
.customDropMenu {

}*/

/* Shrink nav on small screens */
@media only screen and (max-width: 600px) {
  /* Temporary fix, make an actually responsive nav later */
  /*
  .navRight {
    display: none;
  }
  */
  .innerNav {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar {
    padding-bottom: 35px;
  }
  .navSearchBarGroup {
    position: absolute;
    margin-top: 65px;
    width: calc(100% - 35px);
    margin-left: 5px;
  }
  .navbar a,
  .navbar .a {
    padding: 5px;
  }
}
.ghCornerContainer {
  margin-left: -8px;
  margin-top: -8px;
  float: none;
  position: absolute;
}
.ghCorner {
  display:none;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .ghCornerContainer {
    margin-left: -13px;
    margin-top: -13px;
  }
  .ghCorner {
    width: 50px;
    height: 50px;
  }
  /*
  This piece of code is used when the github corner is showing
  .navLogo {
    margin-left: 15px;
  }
  */
}
