.navbar {
  background-color: rgba(26,26,27,0.8);
  width: 100vw;
  height: 70px;
  border-bottom: #686868 1px solid;
}

.innerNav {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 10px;
}

.navRight {
  float: right;
}
