
.profileGrid {
  display: grid;
  grid-template-columns: 20% 75%;
  grid-column-gap: 5%;
  margin: 5%;
  margin-top: 0;
}

.profileStats {
  max-height: 300px;
}

.profileIdea {
  padding: 0;
  padding-left: 2vw;
}

.profileIdea a {
  text-decoration: none;
  color: #58a6ff;
}

.profileIdea a:hover {
  text-decoration: underline;
}
