.viewIdeaMainContainer {
  display: flex;
}
.viewIdeaLeft {
  flex-grow: 2;
}
.viewIdeaRight {
  width: 25vw;
  /* width: 400px */
  float: right;
  margin-right: 25px;
}

.addBuildButton {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .viewIdeaMainContainer {
    display: block;
  }
  .viewIdeaRight {
    width: calc(100% - 10px);
    margin-right: 5px;
  }
  /* Builds should be able to collapse and be expanded */
  .viewIdeaBuilds * {
    margin: 0;
  }
}
